.version.gallery /* version checker */
{
	color: #0000E0;
	background-color: #C314D2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 921px;
	min-height: 446px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 19px 34px 20px;
}

#pu90
{
	width: 0.01px;
}

#u90
{
	z-index: 2;
	width: 499px;
	margin-right: -10000px;
	margin-top: 19px;
}

#menuu97
{
	z-index: 4;
	width: 328px;
	margin-right: -10000px;
	left: 571px;
}

#u105
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
}

#u106
{
	width: 108px;
	padding-bottom: 45px;
}

#u106:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u106:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u98
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
	left: 110px;
}

#u101
{
	width: 108px;
	padding-bottom: 45px;
}

#u106.MuseMenuActive,#u101:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u101:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u162
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
	left: 220px;
}

#u165
{
	width: 108px;
	padding-bottom: 45px;
}

#u101.MuseMenuActive,#u165:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u165:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u165.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u107,#u102,#u166
{
	height: 29px;
	width: 108px;
	margin-right: -10000px;
	top: 22px;
}

#u169
{
	z-index: 23;
	width: 921px;
	margin-top: 9px;
}

#slideshowu562
{
	z-index: 27;
	width: 0.01px;
	height: 652px;
	margin-left: 15px;
	margin-top: 49px;
	position: relative;
}

#u569popup
{
	z-index: 28;
}

#u570
{
	z-index: 29;
	width: 890px;
	height: 612px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-right: -10000px;
	position: relative;
}

#u564popup
{
	z-index: 31;
}

#u565-4
{
	z-index: 32;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu617
{
	z-index: 36;
	width: 0.01px;
	height: 652px;
	margin-left: 15px;
	margin-top: 36px;
	position: relative;
}

#u628popup
{
	z-index: 37;
}

#u629
{
	z-index: 38;
	width: 890px;
	height: 612px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-right: -10000px;
	position: relative;
}

#u629_img
{
	padding-left: 85px;
	padding-right: 85px;
}

#u624popup
{
	z-index: 40;
}

#u625-4
{
	z-index: 41;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#slideshowu635
{
	z-index: 45;
	width: 0.01px;
	height: 652px;
	margin-left: 15px;
	margin-top: 37px;
	position: relative;
}

#u569,#u628,#u644
{
	position: absolute;
	width: 890px;
	height: 612px;
	background-color: transparent;
}

#u644popup
{
	z-index: 46;
}

#u645
{
	z-index: 47;
	width: 890px;
	height: 612px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-right: -10000px;
	position: relative;
}

#u570_clip,#u645_clip
{
	overflow: hidden;
	width: 890px;
	height: 612px;
}

#u570_img,#u645_img
{
	margin-top: -28px;
	margin-bottom: -28px;
}

.js #u570.ose_pre_init,.js #u629.ose_pre_init,.js #u645.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u564,#u624,#u647
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 612px;
	left: 271px;
}

#u647popup
{
	z-index: 49;
}

#u648-4
{
	z-index: 50;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u488
{
	z-index: 25;
	width: 921px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

