.version.index /* version checker */
{
	color: #000012;
	background-color: #494A7D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 921px;
	min-height: 446px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 19px 34px 20px;
}

#pu90
{
	width: 0.01px;
}

#u90
{
	z-index: 2;
	width: 499px;
	margin-right: -10000px;
	margin-top: 19px;
}

#menuu97
{
	z-index: 4;
	width: 328px;
	margin-right: -10000px;
	left: 571px;
}

#u105
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
}

#u106
{
	width: 108px;
	padding-bottom: 45px;
}

#u106:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u106:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u98
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
	left: 110px;
}

#u101
{
	width: 108px;
	padding-bottom: 45px;
}

#u106.MuseMenuActive,#u101:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u101:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u162
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
	left: 220px;
}

#u165
{
	width: 108px;
	padding-bottom: 45px;
}

#u101.MuseMenuActive,#u165:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u165:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u165.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u107,#u102,#u166
{
	height: 29px;
	width: 108px;
	margin-right: -10000px;
	top: 22px;
}

#u169
{
	z-index: 23;
	width: 921px;
	margin-top: 9px;
}

#slideshowu245
{
	z-index: 27;
	width: 0.01px;
	height: 741px;
	margin-left: 10px;
	margin-top: 5px;
	position: relative;
}

#u257
{
	position: absolute;
	width: 904px;
	height: 645px;
	background-color: transparent;
}

#u257popup
{
	z-index: 28;
}

#u262
{
	z-index: 29;
	width: 904px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u262_clip
{
	overflow: hidden;
	width: 904px;
	height: 645px;
}

#u262_img
{
	margin-top: -16px;
	margin-bottom: -17px;
}

#u334
{
	z-index: 31;
	width: 904px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u334_img
{
	padding-left: 92px;
	padding-right: 92px;
}

#u349
{
	z-index: 33;
	width: 904px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u379
{
	z-index: 35;
	width: 904px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u388
{
	z-index: 37;
	width: 904px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u397
{
	z-index: 39;
	width: 904px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u406
{
	z-index: 41;
	width: 904px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u397_img,#u406_img
{
	padding-left: 130px;
	padding-right: 129px;
}

#u478
{
	z-index: 43;
	width: 904px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u349_img,#u379_img,#u388_img,#u478_img
{
	padding-left: 22px;
	padding-right: 22px;
}

#u250
{
	position: absolute;
	width: 899px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	top: 651px;
}

#u250popup
{
	z-index: 45;
}

#u255
{
	z-index: 46;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u337
{
	z-index: 48;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u352
{
	z-index: 50;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u382
{
	z-index: 52;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u391
{
	z-index: 54;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 454px;
}

#u400
{
	z-index: 56;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 524px;
}

#u409
{
	z-index: 58;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 594px;
}

#u400_img,#u409_img
{
	padding-left: 8px;
	padding-right: 7px;
}

#u481
{
	z-index: 60;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u255.SSSlideLinkSelected,#u337.SSSlideLinkSelected,#u352.SSSlideLinkSelected,#u382.SSSlideLinkSelected,#u391.SSSlideLinkSelected,#u400.SSSlideLinkSelected,#u409.SSSlideLinkSelected,#u481.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u264-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 701px;
	left: 415px;
}

#u264-4popup
{
	z-index: 62;
}

#u264
{
	color: #999999;
}

#u270-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 701px;
	left: 453px;
}

#u270-4popup
{
	z-index: 66;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u488
{
	z-index: 25;
	width: 921px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

