.version.untitled_4 /* version checker */
{
	color: #000004;
	background-color: #6ADB83;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 921px;
	min-height: 446px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 19px 34px 20px;
}

#pu90
{
	width: 0.01px;
}

#u90
{
	z-index: 2;
	width: 499px;
	margin-right: -10000px;
	margin-top: 19px;
}

#menuu97
{
	z-index: 4;
	width: 328px;
	margin-right: -10000px;
	left: 571px;
}

#u105
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
}

#u106
{
	width: 108px;
	padding-bottom: 45px;
}

#u106:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u106:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u98
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
	left: 110px;
}

#u101
{
	width: 108px;
	padding-bottom: 45px;
}

#u106.MuseMenuActive,#u101:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u101:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u162
{
	width: 108px;
	min-height: 74px;
	margin-right: -10000px;
	left: 220px;
}

#u165
{
	width: 108px;
	padding-bottom: 45px;
}

#u101.MuseMenuActive,#u165:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u165:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u165.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u107,#u102,#u166
{
	height: 29px;
	width: 108px;
	margin-right: -10000px;
	top: 22px;
}

#u169
{
	z-index: 23;
	width: 921px;
	margin-top: 9px;
}

#u488
{
	z-index: 25;
	width: 921px;
	margin-top: 349px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

